
.table{
    background-color: var(--background-forms);
    padding: 20px;
}
.search, .btn-add{
    padding: 10px;
    border-radius: 5px;
}
.btn-add{
    background-color: var(--button-color);
}
.error{
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    padding: 1px;
    margin-bottom: 5px;
}